body {
  background-color: rgba(255, 145, 2, 0.966);
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  color: white;
}

.nav {
  background-color: rgba(255, 145, 2, 0.966);
  
}

.nav a {
  color: white;
}

.nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 0px;
  
}

.nav ul li {
  padding: 16px;
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  transition: background-color 0.2s;
}

.nav ul li:hover {
  background-color: black;
}

.view {
  background-image:url('img/sunset.jpg');
  background-color:black;
  background-position: center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.centered-container {
  max-width: 1020px;
  margin: 0px auto;
  padding: 0px 16px;
}

.image-text {
  text-align: center;
  font-size: 4.5rem;
}

.intro,
.about-me p{
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project {
  text-align: center;
  margin-bottom: 32px;
}

.project p {
  padding: 0px 16px;
  font-weight: bold;
  font-size: 1.2 rem;
  
}

.thumb {
  height: 200px;
  width: 250px;
}

#contact {
  text-align: left;
  margin-bottom: 32px;
}

.contact-me {
  text-align: center;
  /* display: inline-block; */
}

#contact-form {
  height: 200px
}

.form-control {
  width: 500px;
}

textarea{
  height: 100px;
}

@media screen and (min-width: 700px) {
  .nav ul {
    text-align: right;
  }

  .nav ul li {
    display: inline-block;
    border-bottom: 0px;
    border-left: 1px solid black;
    text-align: left;
  }

  .project
   {
    width: 50%;
    float: left;
  }

  .contact-me {
    text-align: center;
  
  }
}
